@import "./base";
@import "./fonts/fonts";
@import "./colors/colors";
@import "./radius/radius";

#app {
  padding: 1.5rem;
  font-weight: normal;
  font-family: var(--text-font-regular);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 0 1.5rem;
  }
}
